@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-track {
  background: #282828;
}
::-webkit-scrollbar-thumb {
  background: #cbcba2;
  border-radius: 0.375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0rem;
}

body {
  font-family: "Ubuntu Mono", monospace;
  color: #ebdbb2;
}

a {
  text-decoration: none;
  color: #84A87F;
}
